footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
address {
  font-style: normal;
}
// .footer-logo {
//   margin-bottom: 28px;
//   padding: 0;
// }

.footer-logo {
  display: block;
  margin-bottom: 28px;
  padding: 0px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.footer-contact {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    text-align: left;
  }
}

.footer-contact-wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-contact-wrapper {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-wrapper {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.site-contact-list .link-location {
  list-style: none;
  text-decoration: none;
}
.site-contact-list .link-contact {
  list-style: none;
  text-decoration: none;
}

.site-contact-list .link-location {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--additional-color);
  margin-bottom: 12px;
}
.site-contact-list {
  align-items: center;
}
.site-contact-list .link-general {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.site-contact-list .link-contact-list {
  text-decoration: none;
  list-style: none;
}
.site-contact-list .link-contact-list {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767.98px) {
  .socials-footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .socials-footer {
    margin-right: auto;
  }
}

.footer-header {
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-header {
    text-align: left;
  }
}

.socials-footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.socials-footer-list .socials-link {
  color: var(--additional-color);
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    /* color: var(--additional-color); */
  }
}
.socials-icon {
  fill: var(--additional-color);
}

@media screen and (max-width: 767px) {
  .sign-form {
    display: flex;
    flex-direction: column;
  }
}
