.offers {
  display: none;
  @extend %section;
  padding-top: 0px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.offers .list {
  display: flex;
  flex-wrap: wrap;
}
.offers__title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.offers__ex {
  list-style: none;
}
.offers__list .offers__ex {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.offers__overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.offers__text {
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
